<!DOCTYPE html>
<html>
  <head>
    <title>TEST</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <form action="/shorter/add" method="post">
        INPUT URL : <input type"text" name="originalLink"></br></br>
        <input type="submit" value="ADD LINK">
      </form>
  </body>
</html>