<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <h1><%= title %></h1>

  <form action="/urls/create" method="post">
    <input type="text" name="link">
    <input type="submit" value="Pendek~ar!">
  </form>


</body>

</html>
